* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: #f1f1f1; */
    background-image: url('6.jpg');
    /* object-fit: cover; */
	font-family: Arial, sans-serif;
}

header {
	background-color: #2b2d42;
	color: #fff;
	text-align: center;
	padding: 20px;
}

h1 {
	font-size: 32px;
}

main {
	max-width: 800px;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form-container {
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	margin: 20px;
	padding: 20px;
	text-align: center;
	flex-basis: 100%;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

form ul {
	list-style-type: none;
	padding: 0;
}

form ul li {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}

input[type="text"], input[type="tel"], input[type="email"] {
	display: block;
	width: 100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 4px;
}

.form-actions {
	margin-top: 20px;
	display
